*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
    scroll-behavior: smooth;
}
body{
   
    background-color: black;
    /* background-color: red; */
  
}

.nav-logo{
    height:30px;
    width: 110px;
}
.nav-col-1{
    padding: 0 ;
}
nav{
    padding: 0 20px;
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}
.nav-col-2{
    display: inline-block;
}
.nav-col-2 ul {
        display: flex;
        list-style-type: none;
}
.nav-col-2 ul li a{
    margin: 0 15px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    position: relative;
}
.nav-col-2 ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
.nav-col-2 ul li a:hover::after{
    width: 100%;
}
.nav-col-2 ul li a i{
    font-size: 15px;
}
.menubar{
    display: flex;
    justify-content: end; 
    margin-right: 10px;
     display: none;
   
}
.menubar button{
    background-color: unset;
    border: none;
}
.open-menu{
   font-size: 30px;
    color: white;
}

@media screen and (max-width:850px){
  
   .nav-col-2 ul{
    display: none;
    text-align: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.6),#00ffff);
    position: absolute;
    top:12vh;
   flex-direction: column;
   left:0;
   width: 100%;
   min-height: 40vh; 
   padding: 10px 0; 
  

   }
   .nav-col-2 ul li{
    padding: 10px 0;
    
   }
   .menubar{
        display:block;
        
   }

   .showmenu{
    display: block!important;
    
   }   
}
@media screen and (min-width:320px) and (max-width:430px){
    .nav-col-2 ul li a{
        font-size: 15px;
    }
    .nav-col-2 ul li a i{
        font-size: 13px;
    }
}
/* ------------------------ HEADER SECTION -------------------------- */

#header_container{
  padding-top: 12vh;
    width: 100%;
    height: 90vh;
    display: flex;
    /* flex-wrap: wrap; */
}
.header_container_col_1{
   display: flex;
   justify-content: center;
   align-items: center;
    height: 90vh;
    width: 50%;
}
.box{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: black;
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset:30px;
    border: 6px solid white;
    z-index: 4;
    border-radius:50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img{
    opacity: 0;
}
.content h2{
    position: relative;
    /* font-size: 1.5cm; */
    text-align: center;
    color: #fff;
    font-weight: 600;
   letter-spacing: 0.05cm;
   text-transform: uppercase;
}
.content h2 span{
    display: block;
    padding: 10px 0;
}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #fff;
    color: black;
    border-radius: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.05cm;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    letter-spacing: 0.2cm;
}
.header_container_col_2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px;
    height: 90vh;
    width: 50%;
    
    /* background-color: black; */
    color: white;
    /* flex-wrap: wrap; */
}
.header_container_col_2 h2{
    font-size: 35px;
}
.header_container_col_2 h1{
    font-size: 55px;
    
}
.header_container_col_2 h1 span{
    color: transparent;
    -webkit-text-stroke: 2px aqua;
}
.header_container_col_2 h3{
    font-size:30px;
    background: linear-gradient(rgb(4, 240, 232) ,rgba(255, 0, 0, 0.864));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}


.header_container_col_2 p{
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 25px;
}
.header_container_col_2 button{
    padding: 10px 25px;
    background-color:unset;
    border: 2px solid #00ffff;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}
.header_container_col_2 button:hover{
    background: #00ffff;
    color: black;
}
.blink{
    animation : cursor .5s step-end infinite alternate
}
@keyframes cursor{
    50%{
        color: transparent;
    }
}

@media screen and (max-width:900px){
    #header_container{
        flex-direction: column;
        align-items: center;
    }
    #about{
        margin-top: 300px;
    }
    .header_container_col_1{
       
     width: 100%;
     padding: 20px 50px;
    }
    .header_container_col_2{
      
        width: 100%;
        padding: 20px 50px;
    }
    .header_container_col_2 h2{
        padding: 5px 0;
        text-align: center;
    }
    .header_container_col_2 h1{
        text-align: center;
    }
    .header_container_col_2 h3{
        text-align: center;
    }
    .header_container_col_2 p{
        text-align: center;
    }

    .header_container_col_2 button{
       margin: auto;
    }
    .hire-btn{
       
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}
@media screen and (min-width:450px) and (max-width:600px){
 #about{
        margin-top: 250px;
    }
    .box::before{
    inset: -10px 100px;
}
   .header_container_col_2 h2{
    font-size: 25px;
   }
   .header_container_col_2 h1{
    font-size: 45px;
   }
   .header_container_col_2 h3{
    font-size: 25px;
   }
   .box{
    width: 350px;
    height: 350px;
   
}
   
}

@media screen and (min-width:320px) and (max-width:350px){
    #about{
           margin-top: 300px;
       }
    }
    @media screen and (min-width:350px) and (max-width:360px){
        #about{
               margin-top: 300px;
           }
        }

@media screen and (min-width:360px) and (max-width:400px){
    #about{
           margin-top: 250px;
       }
    }
    @media screen and (min-width:400px) and (max-width:450px){
        #about{
               margin-top: 200px;
           }
        }
@media screen and (min-width:320px) and (max-width:450px){
    #about{
           /* margin-top: 300px; */
       }
          .box::before{
    inset: -10px 100px;
}
       .header_container_col_1{
        padding: 20px 10px;
       }
      .header_container_col_2 h2{
       font-size: 20px;
      }
      .header_container_col_2 h1{
       font-size: 30px;
      }
      .header_container_col_2 h1 span{
        font-size: 35px;
       }
      .header_container_col_2 h3{
       font-size: 20px;
      }
      .box{
       width: 300px;
       height: 300px;
      
   }
      
   }
/* --------------------------ABOUT SECTION ------------------------------- */

#about{
    padding: 80px 30px;
    color: aliceblue;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-2{
    flex-basis: 35%;
}
/* .about-col-2 img{
    width: 100%;
    height: 600px;
    border-radius:30px;
    border: 5px solid black;
} */
.about-img{
    width: 100%;
    height: 600px;
    border-radius:30px;
    border: 5px solid black;
}
.about-col-1{
    flex-basis: 60%;
    /* background-color: aqua;   */
}
.about-txt{
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.tab-title{
     display: flex;
     margin: 20px 0 40px;
}
.tab-links{
      margin-right: 50px;
      font-size:18px;
      font-weight: 500;
      cursor: pointer;
      position: relative;
      
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #00ffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:100%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li{
    font-size: 16px;
}
.tab-content ul li span{
    color: #00ffff;
    font-size: 20px;

}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
.about-yg-logo{
    padding: 3px;
    background-color:#00ffff;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    left:150px;
    bottom: 47px;
    box-shadow: 0px 0px 30px 1px #00ffff;
    
}
.about-col-1 p{
    padding-bottom: 20px;
    font-size: 16px;
}
@media screen and (min-width:320px) and (max-width:700px){
     .about-col-2{
        display: none;
     }
 }
@media screen and (min-width:320px) and (max-width:430px){
    .about-col-1 p{
        
        padding-bottom: 20px;
        padding-right: 10px;
        font-size: 16px;
    }
    .tab-title{
        margin: 20px  0px;
        /* flex-direction: column; */
    }
    .about-col-1{
        width:90%;
        margin: auto;
    }
    .tab-links {
        margin-right: 20px;
    }
    #about{
        padding: 60px 0px;
        
        
    }
    /* .about-txt{
      text-align: center;
    } */
    
}
@media screen and (min-width:480px) and (max-width:700px){
    .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* ---------------------------------- SERVICE SECTION ---------------------- */

#service{
    padding-left: 50px;
    padding-right: 50px;
   padding-bottom: 30px;
    color: white;
    
}
.sub-title-service{
    font-size: 40px;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.service-list div{
    background: #262626;
    padding: 30px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.service-list div a{
    text-decoration: none;
    color:black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.service-list div:hover{
    background-color: #00ffff;
    transform: translateY(-10px);
    color: black;
}
@media screen and (min-width:320px) and (max-width:430px){
    .service-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
        padding: 0 10px;
    }
    .sub-title-service{
        text-align: center;
        width: 100%;
    
    }
    .service-list div{
       text-align: center;
    }
    #service{
        padding: 0;
        color: white;
        
    }
   
}
@media screen and (min-width:430px) and (max-width:630px){
    .sub-title-service{
        text-align: center;
        width: 100%;
    
    }

}
/* ---------------------------- PROJECT SECTION -------------------- */


 /* #project{
     padding-left: 100px;
   background-color: burlywood; 
}  */
.container-project{
    padding-left: 50px;
    padding-right: 50px;
   padding-bottom: 30px;
}
.sub-title-project{
     padding-left: 20px;
    color: white;
    font-size: 40px;
}
.work-list{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
grid-gap: 40px;
margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#00ffff);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}
.layer a{
    margin-top: 20px;
    color:black;
    text-decoration: none;
    font-size: 20px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
    color: white;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00ffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background: #00ffff;
    color: black;
    
}
@media screen and (min-width:320px) and (max-width:430px){
 
    .container-project{
        padding: 20px 10px;
    }
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
        grid-gap: 40px;
        margin-top: 50px;
    }
    .sub-title-work{
        text-align: center;
        width: 350px;
    }
    .layer a{
        margin-top: 10px;
        font-size: 15px;
        height: 40px;
        width: 40px;
        line-height: 0px;
        
    }
    .layer a i{
        margin-top: 12px;
        
        
    }

    .sub-title-project{
    
       text-align: center;
    }
    .project-hover-content{
        font-size: 10px;
    }
}
#project {
    padding: 10px 10px;
    
}
.layer h3{
 
    margin-bottom: 5px;
}
@media screen and (min-width:660px) and (max-width:700px){
    .layer a{
        margin-top: 10px;
        font-size: 10px;
    }
    .layer h3{
 
        margin-bottom: 5px;
       
    }
}
@media screen and (min-width:650px) and (max-width:800px){
    .layer a{
        margin-top: 10px;
        font-size: 15px;
        height: 40px;
        width: 40px;
        line-height: 0px;
        
    }
    .layer a i{
        
        margin-top: 12px;
        
    }
}

/* --------------------- CONTACT SECTION ------------------- */
.sub-title-contact{
    font-size: 40px;
}
#contact{
    color: white;
    padding: 30px 90px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #00ffff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;

}
.social-icons a{
   text-decoration: none;
   font-size: 30px;
   margin-right: 15px;
   color: white;
   display: inline-block;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color: #00ffff;
    transform: translate(-5px);
}
.Download-btn-1{
   display: inline-block;
   background:#00ffff;
   padding: 13px 20px;
   color: black;
   text-decoration: none;
   font-size: 15px;
   border-radius: 10px;
   margin-top: 20px;
   border: none;
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:#262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width:100% ;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    color: white;

}
.heart-icon{
    color: red;
}

@media screen and (min-width:320px) and (max-width:430px){
  
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .contact-left p i{
        margin-right:5px;
        font-size: 20px;
    }
    .contact-left p{
        text-align: center;
    }
    #contact{
        color: white;
        padding: 0px 30px;
       
    }
    .sub-title-contact{
        font-size: 30px;
    }
    .social-icons{
        text-align: center;
        padding-bottom: 20px;
    }
    .social-icons a i{
      font-size: 20px;
      padding-left: 20px;
        
    }

    .sub-title-contact{
        text-align: center;
    }
    
    .downloadcv{
        margin-bottom: 10px;
       display: flex;
       justify-content: center;
    }
   
    .submit{
        display: flex;
        justify-content: center;
     
    }
    .Download-btn-1{
       
        padding: 10px 15px;
        font-size: 10px;
       
     }
     .copyright{
        padding: 15px 0;
     }
     
}

@media screen and (min-width:500px) and (max-width:815px){
    #contact {
        
        padding: 10px 10px;
    }
    .sub-title-contact{
       
        font-size: 28px;
    }
    .contact-left p i{
        margin-right:5px;
        font-size: 15px;
    }
    .social-icons a i{
        font-size: 20px;
          
      }

      .Download-btn-1{     
        padding: 10px 10px;  
     }

    .submit{
        display: flex;
        justify-content: center;
     
    }
}
@media screen and (min-width:430px) and (max-width:500px){
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .contact-left p i{
        margin-right:5px;
        font-size: 23px;
    }
    .contact-left p{
        text-align: center;
    }
    #contact{
        color: white;
        padding: 0px 30px;
       
    }
    .sub-title-contact{
        font-size: 40px;
    }
    .social-icons{
        text-align: center;
        padding-bottom: 20px;
    }
    .social-icons a i{
      font-size: 30px;
      padding-left: 20px;
        
    }

    .sub-title-contact{
        text-align: center;
    }
    
    .downloadcv{
        margin-bottom: 10px;
       display: flex;
       justify-content: center;
    }
   
    .submit{
        display: flex;
        justify-content: center;
     
    }
    .Download-btn-1{
       
        padding: 15px 20px;
        font-size: 13px;
       
     }
     .copyright{
        padding: 15px 0;
     }
}



